footer {
    position: relative;
    margin-top: calc(#{$padding} * 5);
    padding: calc(#{$padding} * 3) 0;
    padding-bottom: 1rem;
    color: #fff;
    position: relative;
    margin-top: 28rem;
    padding: 14rem 0 1rem;
    color: #fff;

    .social-bar {
        position: relative;
        height: initial; width: initial;
        flex-direction: row;
        right: initial;
        bottom: initial; left: initial;
        margin: 0;
        a {
            margin: 0;
            color: inherit;
            &+a {
                margin-left: 1em;
            }
            
        }
    }
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include width();
    }

    .background {
        left: 0;
        top: 0;
        border-radius: 0;
        border-top-right-radius: $border-radius;
        bottom: 0;
        height: 100%;
        max-width: 100%;
        
        width: calc((100% - #{$max-width}) / 2 + #{$max-width} + #{$padding});
        
    }

    .long-card {
        position: absolute;
        top: calc(-500px + 8em);

        figure {
            width: 60%;
            height: 500px;
            box-shadow: none;

            img {
                max-height: initial;
            }
        }
    }
}