footer {
    position: relative;
    color: #fff;
    background: #036;
    position: relative;
    @include mq(small) {
        background: none;
    }

    @include mq(xl) {
        margin-top: 28rem;
        padding: 14rem 0 1rem;
    }


    .social-bar {
        position: relative;
        height: initial; width: initial;
        flex-direction: row;
        right: initial;
        bottom: initial; left: initial;
        margin: 0;
        a {
            margin: 0;
            color: inherit;
            &+a {
                margin-left: 1em;
            }
            
        }
    }
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include width();
    }

    .background {
        left: 0;
        top: 0;
        border-radius: 0;
        border-top-right-radius: $border-radius;
        bottom: 0;
        height: 100%;
        max-width: 100%;
        width: 100%;
        @include mq(xl) {
            width: calc((100% - #{$max-width}) / 2 + #{$max-width} + #{$padding});
        }
        @include mq(xxl) {
            width: calc((100% - #{$xxl-max-width}) / 2 + #{$xxl-max-width} + #{$padding});
        }
        
        
    }

    .long-card {
        @include mq(xl) {
            position: absolute;
            top: calc(-500px + 8em);
        }
        

        figure {
            @include mq(xl) {
                width: 60%;
                height: 500px;
            }
            
            box-shadow: none;

            img {
                max-height: initial;
            }
        }
    }
}