// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;

  a { color: inherit; 
  &:hover {
      color: $accent-color;
  }}

  & > div {
      overflow: hidden;
      padding-top: $small-padding;
      @include mqh(medium) {
        padding-top: $padding;
    }
      &.sticky {
          position: fixed;
          top: 0;
          padding-top: 0;
          height: 64px;
          width: 100%;
          transition: background-color .3s cubic-bezier(0,0,0.3,1),
          color .3s cubic-bezier(0,0,0.3,1);
          left: 0;
          background-color: #fff;
          color: $dark-blue;
          overflow: hidden;
          nav, button {
              color: inherit;
          }
          h1 {
              color: $dark-blue;
              border-color: $dark-blue;

              &:before, &:after {
                    transition: border-color .3s cubic-bezier(0,0,0.3,1);
                  border-color: #fff;
              }
          }
          box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);


      & > div {
          width: 100%;
          padding: 0 1.5rem;
          height: 100%;
          
          @include mq(small) {
              width: $width;
              padding: 0;
          }
          margin: auto;

          & > a:hover > img {
              filter: brightness(0%);
          }
      }
  }
      & > div {
          position: relative;
          padding: 0 1.5rem; 
          @include mq(small) {
              width: $width;
              padding: 0;
          }
          margin: auto;
          height: 64px;
          display: flex;
          align-items: center;

          & > a, img, h1 {
              display: inline;
          }

          h1 {
            position: relative;
            font-weight: 700;
            color: hsl(210, 100%, 90%);
            text-transform: uppercase;
            font-size: 1.5em;
            border-radius: 2px;
            border: 3px solid hsl(210, 100%, 90%);
            padding: .25em .45em;
            letter-spacing: -0.05em;

            &:hover {
                color: hsl(210, 100%, 60%);
                border-color: hsl(210, 100%, 60%);
            }

            &:before {
                content: '';
                position: absolute;
                top: .15em; bottom: .15em;
                left: -.5em; right: -.5em;
                border: .25em solid $dark-blue;

                @include mq(medium) {
                    border: .25em solid hsl(210, 100%, 15%);
                }
                
                z-index: 2;
            }
            &:after {
                content: '';
                position: absolute;
                left: .15em; right: .15em;
                top: -.5em; bottom: -.5em;
                border: .25em solid $dark-blue;

                @include mq(medium) {
                    border: .25em solid hsl(210, 100%, 15%);
                }
                z-index: 2;
            }
          }

          nav {
              @include mq(medium) {
                  display: flex;
              }
              width: 100%;
              display: none;
              justify-content: center;
              align-items: center;
              color: hsl(210, 100%, 90%);
              

              a {
                  font-size: 1.8em;
                  position: relative;
                  color: inherit;

                  &:hover {
                    color: hsl(210, 100%, 60%);
                  }

                  &+a {
                      margin-left: 1.5em;
                      padding-left: 1.5em;

                      &:before {
                          content: '/';
                          position: absolute;
                          left: 0;
                      }
                  }
              }
          }
          button {
            color: hsl(210, 100%, 90%);
            @include mq(medium) {
                display: none !important;
            }
            border: none;
            background: none;
            margin-left: auto;
            
            font-size: 3em !important;
            padding: 0;

            &:hover {
                color: $accent-color;
                cursor: pointer;
            }
          }
      }
  }
}