.background {
    display: none;
    position: absolute;
    z-index: -2;
    top: 0; left: 0;
    width: 100%; 
    
    
    @include mq(large) {
        width: calc(50vw - .5rem);
        height: calc((100vh - 2rem) + 542px - 1rem);
        display: block;
    }
    
    @include mq(xl) {
        border-bottom-right-radius: $border-radius;
        @include mqh(medium) {
            border-radius: $border-radius;
        }
    }
    background: hsl(210, 100%, 15%);
}