.long-card {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    
    position: relative;

    figure {
        margin-left: auto;
        width: calc((100% - #{$max-width}) / 2 + #{$max-width} + #{$padding});
    }

    img, picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: 542px;
    }

    div {
        position: absolute;
        font-size: 2em;
        @include mq(small) {
            font-size: 2.8em;
        }
        bottom: 1em;
        width: 100%;
    }
    h1 {
        width: $width; max-width: $max-width;
        margin: auto;
        font-size: inherit;

        
        
    }
}