.movement-arrow {
    position: fixed;
    display: block;
    bottom: 2rem;
    right: 3rem;
    color: $accent-color;
    z-index: 10;
    height: 64px;
    
    transition: opacity 1.2s ease-out;

    i, svg {
        font-size: 4em;
        &:hover {
            animation:shake-top .8s cubic-bezier(.455,.03,.515,.955) both
        }
    }
    
    @keyframes shake-top{0%,100%{transform:rotate(0deg);transform-origin:50% 0}10%{transform:rotate(2deg)}20%,40%,60%{transform:rotate(-3deg)}30%,50%,70%{transform:rotate(3deg)}80%{transform:rotate(-2deg)}90%{transform:rotate(2deg)}}
}