.social-bar {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 1.5em;
    justify-content: space-between;
    pointer-events: auto;
    z-index: 2;
    margin: $small-padding 0 0;
    a {
        color: hsl(210, 100%, 80%);
    }
    @include mq(small) {
        width: $width; max-width: $max-width;
        margin:auto;
        padding: 0;
    }
    @include mq(medium) {
        position: absolute;
        flex-direction: column;
        right: 0;
        bottom: calc(#{$padding} - 6px);
        align-items: start;
        height: calc(100% - 5em);
        z-index: 3;
        width: initial;
        height: 100vh;
        justify-content: flex-end;
        align-items: center;
        

        & > a, & > svg {
            color: hsl(210, 100%, 25%);
            transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            &+a, &+svg {
                margin-top: .5em;
            }

            &:hover, &:focus, &:focus-within {
                color:hsl(210, 100%, 60%);
            }
        }
    }
    @include mq(xl) {
        right: 0;
    }
}