.about__header {
    .header-container:not(.sticky) #top > a > h1:before {
        border-color: #ffe0ef;
    }
    .navbar {
        margin-left: auto;
    }
    .sticky {
        overflow: visible;

        .navbar {
            i, svg { 
                display: inline-block;
            }
            ul {
                display: initial;
            }
            &__dropdown__list {
                background: #f7f7f7;
            }
        }
    }

    .active > a {
        font-weight: 700;
    }
    
    #top > a > svg {
        path {
            fill: $dark-blue;
        }
        &:hover path {
            fill: hsl(210, 100%, 60%);
        }
    }
} 
#about {
    .background {
        height: calc(50vh);
        background: #ffe0ef;
        @include mq(xl) {
            width: calc((640px + (100% - 1280px)/2) - 2em);
        }
    }
    & > section {
        position: relative;

        div.container {
            width: 100%;
            height: 100%;
            @include width();
        }
    }
    #frontpage {
        padding: calc(100px + #{$padding}) 0 $padding;
        
        .container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            grid-gap: $padding;

            picture, img {
                width: 100%; height: 100%;
                object-fit: cover;
            }

            article {
                h1 {
                    text-transform: uppercase;
                    letter-spacing: .1em;
                    font-size: 1.4em;
                    margin-bottom: 1.5rem;
                    color: $brand-color;
                }
                p {
                    font-size: 1.125em;
                }
                a:not(.website-link) {
                    margin-top: 1.5rem;
                    display: inline-block;
                    transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

                    i, svg {
                        margin-right: .6em;
                        font-size: 1.25em;
                        color: inherit;
                    }

                    &:hover {
                        color: hsl(210, 100%, 60%);
                    }
                }
            }
        }
    }
}