main {
    & > section {
        position: relative;

        div.container {
            width: 100%;
            height: 100%;
            @include width();
        }
    }
}

#index {
    .long-card {
        @include mq(xl) {
            @include mqh(medium) {
                height: 542px;
            }
        }
    }
    #frontpage {
        overflow: hidden;
        padding-top: 100px;
        position: relative;

        background: hsl(210, 100%, 8%);
        @include mq(large) {
            background: none;
        }

        .container {
            padding-top: 0;
            display: grid;
            grid-gap: 1em;
            @include mq(xl) {
                @include mqh(medium) {
                    grid-gap: $padding;
                }
            }
            
            position: relative;
            @include width();

            @include mq(small) {
                grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            }

            & > .main-info {
                height: 100vh;
                padding-top: $small-padding;
                @include mq(small) {
                    height: initial;
                    padding-top: $padding;
                    padding-bottom: 4rem;
                    padding-right: 1em;
                }
                @include mq(xl) {
                    padding-right: 0;
                    @include mqh(medium) {
                        padding-top: calc(#{$padding} * 2);
                    }
                    
                }
                
                
                h1 {
                    font-weight: 600;
                    font-size: 2.5em;
                    @include mq(xl) {
                        @include mqh(medium) {
                            height: 225px;
                        overflow: hidden;
                        }
                        
                    }
                    
                }
                
            }
            & > .tertiary-info {
                overflow: hidden;
                @include mq(small) {
                    margin-bottom: $padding;
                }
                @include mq(large) {
                    width: calc(100% - #{$padding});
                }
                
                & > div {
                    padding: 1rem 0;
                    
                    margin-top: 1em;
                    border-top-right-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                    @include mq(large) {
                        background-color: hsl(331, 100%, 94%);
                        padding: $padding;
                        height: calc(100% - 1em);
                        width: calc(100% - 2rem);
                        p {
                            color: hsl(331, 50%, 44%);
                            font-size: 1.2em;
                        }
                    }
                    @include mq(xl) {
                        @include mqh(medium) {
                            margin-top: $padding;
                        }
                    }
                    
                }
            }
            h1 {
                color: hsl(210, 100%, 95%);
            }
            
            p {
                font-size: 1.05em;
                @include mq(small) {
                    font-size: 1.25em;
                }
                
                color: hsl(210, 100%, 90%);

                &+p {
                    margin-top: 1em;
                }
            }

            button {
                margin-top: 2em;
                @include mqh(medium) {
                    margin-top: 2.25em;
                }
            }
        }

        .movement-arrow {
            
            width: 4em;
            display: none;
            align-items: center;
            justify-content: center;

            position: absolute;
            bottom: 0;
            @include mq(small) {
                display: flex;
            }
            @include mq(xl) {
                left: calc(50% + 0.5em);
                @include mqh(medium) {
                    left: calc(50% + 2em);
                }
            }
            
            right: initial;
            color: hsl(210, 100%, 25%);

            &:hover, &:focus, &:focus-within {
                color:hsl(210, 100%, 60%);
            }
            i, svg {
                transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
                font-size: 1.5em;
                animation: sdb04 2s infinite;

                @keyframes sdb04 {
                    0% {
                        transform: translate(0, 0);
                      }
                    20% {
                      transform: translate(0, .25em);
                    }
                    40% {
                        transform: translate(0, 0);
                      }
                  }
            }
        }
    }

    #gallery {
        position: relative;
        background-color: hsl(210, 100%, 20%);
        & > h1 {
            color: hsl(210, 100%, 90%);
        }
    }
    .grid {
        z-index: 2;
        @include width();
        @include mq(medium) {
            padding: $padding 0;
        }
    }
}