main {
    & > section {
        position: relative;

        div.container {
            width: 100%;
            padding: $small-padding 1.5rem;
            @include mq(small) {
                padding: $padding 0;
                width: $width; max-width: $max-width;
            }

            height: 100%;
            margin: auto;
        }
    }
    .social-bar {
        height: 10vh;
        display: flex;
        width: 100%;
        padding: 0 1.5rem;
        
        align-items: center;
        font-size: 2em;
        justify-content: space-between;
        pointer-events: auto;
        z-index: 2;
        a {
            color: hsl(210, 100%, 80%);
        }
        @include mq(small) {
            width: $width; max-width: $max-width;
            margin:auto;
            padding: 0;
        }
        @include mq(medium) {
            position: absolute;
            flex-direction: column;
            right: 1em;
            bottom: $padding;
            align-items: start;
            height: 5em;
            z-index: 3;
            width: initial;
            height: 100vh;
            justify-content: flex-end;
            align-items: center;
            

            & > a {
                color: hsl(210, 100%, 15%);
                &+a {
                    margin-top: .5em;
                }

                &:hover {
                    color:hsl(210, 100%, 60%);
                }
            }
        }
        @include mq(xl) {
            right: calc(((100% - #{$max-width}) / 2));
        }
    }

    & > h1, & > section > h1 {
        margin: $padding 0 0 1.5rem;
        @include mq(medium) {
            margin: calc(#{$padding} * 2) auto 0;
            width: $width; max-width: $max-width;

            span {
                color: hsl(210, 100%, 90%);
            }
        }
        font-size: 2em;
        @include mq(small) {
            font-size: 2.8em;
        }
        
        position: relative;
        padding-bottom: 1em;
    }
}

#index {
    #frontpage {
        overflow: hidden;
        padding-top: 100px;
        position: relative;

        .container {
            padding-top: 0;
            display: grid;
            grid-gap: $padding;
            position: relative;

            @include mq(small) {
                grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            }

            @include mqh(750px) {
                & > div {
                    padding: $padding 0;
                }
            }

            & > .tertiary-info {
                padding: 0;
                width: calc(100% - #{$padding});
                
                & > div {
                    padding: $padding;
                    background-color: #84898c;
                    height: calc(100% - 4rem);
                    width: calc(100% - 2rem);
                    margin-top: $padding;
                }
            }
            h1 {
                font-size: 2em;
                @include mq(small) {
                    font-size: 2.8em;
                }

                color: hsl(210, 100%, 90%);
            }
            
            p {
                font-size: 1.05em;
                margin-top: 1.4em;
                @include mq(small) {
                    font-size: 1.25em;
                    margin-top: 1.5em;
                }
                @include mqh(medium) {
                    margin-top: 2em;
                }
                
                color: hsl(210, 100%, 82%);

                &+p {
                    margin-top: 1em;
                }
            }

            button {
                margin-top: 2em;
                @include mqh(medium) {
                    margin-top: 2.5em;
                }
            }
        }

        .movement-arrow {
            position: absolute;
            bottom: 0;
            left: calc(50% + 2em);
            right: initial;
            color: hsl(210, 100%, 20%);
            background-color: hsl(210, 100%, 85%);
        }
    }

    #gallery {
        position: relative;
        background-color: hsl(210, 100%, 20%);
        & > h1 {
            color: hsl(210, 100%, 90%);
        }
    }
    .grid {
        padding: $small-padding 1.5rem 0;
        z-index: 2;
        
        @include mq(medium) {
            padding: $padding 0;
        }
    }
}