main {
    & > section {
        position: relative;

        div.container {
            width: 100%;
            padding: $small-padding 1.5rem;
            @include mq(small) {
                padding: $padding 0;
                width: $width;
            }

            height: 100%;
            margin: auto;
        }
    }
    & > nav {
        height: 10vh;
        display: flex;
        width: 100%;
        padding: 0 1.5rem;
        
        align-items: center;
        font-size: 2em;
        justify-content: space-between;
        pointer-events: auto;
        z-index: 2;
        a {
            color: hsl(210, 100%, 80%);
        }
        @include mq(small) {
            width: $width;
            margin:auto;
            padding: 0;
        }
        @include mq(medium) {
            position: absolute;
            flex-direction: column;
            left: 1em;
            bottom: 1em;
            align-items: start;
            height: 5em;
            z-index: 3;
            width: initial;
        }
        @include mqh(medium) {
            display: none;
        }
    }

    & > h1, & > section > h1 {
        margin: $padding 0 0 1.5rem;
        @include mq(medium) {
            margin: calc(#{$padding} * 2) 0 0 calc((100% - #{$width}) / 2);
            span {
                color: hsl(210, 100%, 90%);
            }
        }
        font-size: 2em;
        @include mq(small) {
            font-size: 2.8em;
        }
        
        position: relative;
        padding-bottom: 1em;
    }
}

#index {
    #frontpage {
        overflow: hidden;
        height: 100vh;
        padding-top: 85px;

        @include mq(small) {
            padding-top: 125px;
        }        

        @include mq(medium) {
            height: 90vh;
        }

        @include mq(large) {
            height: 100vh;
        }
        
        @include mqh(medium) {
            padding-top: 150px;
        }

        .container {
            display: grid;
            padding-top: 0;
            @include mq(small) {
                grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            }

            @include mqh(750px) {
                padding: $padding 0;
            }
            
            .round-img {
                margin: auto;
            }

            @include mq(large) {
                .round-img {
                    order: 1;
                    margin: $padding auto;
                }
            }
            

            section {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                @include mq(medium) {
                    max-height: 750px;
                }
                @include mqh(medium) {
                    height:95%;
                    margin-top: auto;
                }

                h1 {
                    font-size: 2em;
                    @include mq(small) {
                        font-size: 2.8em;
                    }

                    color: hsl(210, 100%, 90%);
                }
                
                p {
                    font-size: 1.05em;
                    margin-top: 1.4em;
                    @include mq(small) {
                        font-size: 1.5em;
                        margin-top: 1.5em;
                    }
                    @include mqh(medium) {
                        margin-top: 2em;
                    }
                    
                    color: hsl(210, 100%, 82%);

                    &+p {
                        margin-top: 1em;
                        @include mqh(medium) {
                            margin-top: 1.5em;
                        }
                        max-width: 30em;
                    }
                }

                button {
                    margin-top: 2em;
                    @include mqh(medium) {
                        margin-top: 2.5em;
                    }
                }

                nav {
                    display: none;
                    @include mqh(medium) {
                        max-width: 250px;
                        display: flex;
                    }
                    justify-content: space-between;
                    font-size: 2.25em;
                    
                    a {
                        color: hsl(210, 100%, 80%);

                        &:hover {
                            color: hsl(210, 100%, 60%);
                        }
                    }
                }
            }
        }
    }

    #gallery {
        position: relative;
        background-color: hsl(210, 100%, 20%);
        & > h1 {
            color: hsl(210, 100%, 90%);
        }
    }
    .grid {
        padding: $small-padding 1.5rem 0;
        z-index: 2;
        
        @include mq(medium) {
            padding: $padding 0;
        }
    }
}